ul {
  width: 200px;
}

li {
  color: black;
  background-color: rgb(231, 208, 174);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  list-style: none;
  border: 2px solid rgb(129, 80, 34);
  padding: 5px;
  margin: 5px;
}
li:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(212, 175, 55, 1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(212, 175, 55, 1);
  color: white;
  background-color: rgba(66, 28, 2, 0.856);
  text-align: center;
  border: solid 2px#270b00;
}

.player-card-top {
  display: flex;
  justify-content: space-between;
}

.player-card-button {
  display: flex;
  justify-content: space-evenly;
}

.modal {
  color: black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Windlass';
  src: local('./fonts/Windlass.tff') format('truetype');
}

@font-face {
  font-family: 'Caslon Antique';
  src: local('./fonts/CaslonAntique.tff') format('truetype');
}

body {
  background-image: url('http://staticdelivery.nexusmods.com/mods/161/images/90-1-1352053070.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Windlass';
}

ButtonPanel .flexContainer {
  display: flex;
  justify-content: space-around;
}

ButtonPanel button {
  margin: 10;
}

.container {
  margin-top: 2em;
  display: flex;
  align-items: space-between;
  width: auto;
}

.chat-log {
  padding: 5px;
  height: fit-content;
  background-color: rgba(211, 211, 211, 0.6);
  border: gray 3px solid;
  /* margin: 10px 30%; */
}

.monster-view {
  border-radius: 2em;
}

.card-view {
  border-radius: 1em;
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

.card-view:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
  z-index: 99;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10 0px rgba(212, 175, 55, 1);
  -moz-box-shadow: 0px 0px 10 0px rgba(212, 175, 55, 1);
  box-shadow: 0px 0px 10 0px rgba(212, 175, 55, 1);
}

.card,
.modal-content {
  background-color: transparent !important;
  align-items: center;
}

.modal,
.modal-content {
  align-content: center;
  max-width: 100%;
}

.card-view:active {
  transform: translateY(5%);
  transform: scale(1.28);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('https://i.imgur.com/MHWLac7.gif');
  /* background-attachment: fixed; */
  /* background-size: contain; */
  /* background-repeat: repeat; */
  font-family: 'Windlass';
}

ButtonPanel .flexContainer {
  display: flex;
  justify-content: space-around;
}

ButtonPanel button {
  margin: 50px;
}

.container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  width: fit-content;
}

.chat-log {
  padding: 5px;
  height: fit-content;
  background-color: rgba(211, 211, 211, 0.6);
  border: gray 3px solid;
}

.monster-view {
  display: block;
  border-radius: 2em;
  height: auto;
  width: 20vw;
  margin-right: 0px !important;
}

.card-view {
  border-radius: 1em;
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

.card-view:hover {
  transform: scale(1.5) translateY(1em);
  transition: 0.2s ease-in-out;
  z-index: 99;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(212, 175, 55, 1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(212, 175, 55, 1);
  box-shadow: 0px 0px 50px 0px rgba(212, 175, 55, 1);
  cursor: pointer;
}

.card-view:active {
  transform: scale(1.4) translateY(1.2em);
}

.card,
.modal-content {
  background-color: transparent !important;
  align-items: center;
}

.modal,
.modal-content {
  align-content: center;
  max-width: 100%;
}

.card {
  width: 10em;
  margin: 0.01em;
  margin-bottom: 1em;
}

.discard-button {
  cursor: pointer;
  opacity: 0;
  size: fit-content;
  transform: scale(0.75);
  display: flex;
  align-content: center;
  border-radius: 0.2em;
  position: absolute;
  right: -0.5em;
  top: -0.25em;
}

.card-view:hover .discard-button {
  opacity: 0.5;
}

.discard-button:hover {
  opacity: 1 !important;
}

.use-button {
  border-radius: 0.2em;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.card-view:hover .use-button {
  opacity: 0.5;
}

.use-button:hover {
  opacity: 1 !important;
}

.player-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battle-stats {
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  size: fit-content;
  background: url('https://i.imgur.com/BDo9tLr.png') no-repeat center center;
  background-size: 100% 100%;
}

.table-cell {
  width: 10vw !important;
}

.gameboard-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 1em;
}

.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard-middle-col {
  margin-left: 1em;
  margin-right: 1em;
}

ChatLog {
  font-family: 'IM Fell English SC';
 
}

#door {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 40vh;
  }
}

.door-card {
  opacity: 1;
  transform: translateY(4em);
  position: fixed;
  border-radius: 1em;
  animation-name: fade-in;
  animation-duration: 1.5s;
  height: 40vh !important;
  width: auto;
}

.media-list {
  height: 100%;
  overflow-y: auto;
}

.chat {
  width: 300px;
  height: 200px;
  overflow: 'auto';
}

#door-text {
  color: yellow;
  opacity: 0;
}

#door:hover .hover-text {
  opacity: 1;
}


#title {
  margin-top: 25px;
  padding: 20px;
  font-size: 120px;
  color: rgba(40, 13, 2, 0.92);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -3px 0 rgba(53, 3, 3, 0.945), 2px 3px rgb(90, 37, 18), 2px -1px rgb(158, 116, 112), 2px -2px rgba(226, 199, 199, 0.945);
}


#logInContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: rgba(70, 90, 36, 0.8);
  margin: 15px 30%;
  box-shadow: 10px 10px 20px rgba(0,0,0, 0.8);
}

.lobbyButton {
  color: rgba(226, 211, 5, 0.945);
  margin-right: 20px;
  padding-bottom: 15px;
}

.intro {
  color: peachpuff
}

p{
  color: pink
}

#resetButton{
  position: absolute;
  right: 0px;
  padding: 10px;
  border: grey;
  background-color: grey;
  color:white;
  align-self: flex-end;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 100vh;
  margin: 0, 30px, 30px, 0
}

#chat_message{
  color: white;
  text-align: left;
  border: grey;
  background-color: rgba(211, 211, 211, 0.6);
}

.player_list{
  color: black;
  text-align: center;

}

#descriptive_line{
  opacity: .5;
  width: 100%;
  margin-bottom: 30px
}

#enter_dungeon{
  color: black;
  background-color: rgb(231, 208, 174);
  align-content: center
}

#dungeon_button_holder{
  margin-left:auto;
  margin-right:auto;
  padding-left: 30%
}